In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("world_wide_self_harm_and_substance_deaths.csv")
countryContinent = pd.read_csv("countryContinent.csv", encoding=('ISO-8859-1'),low_memory = False)

In [4]:
colsum = pd.DataFrame(df)
print(colsum.sum())

Year                                                               98161392
Cause                     Intentional self-harmIntentional self-harmInte...
Age_Range                 001110-1410-1415-1915-192220-2420-2425-2925-29...
ISO_Code                  GBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRGBRG...
Sex                       FemaleMaleFemaleMaleFemaleMaleFemaleMaleFemale...
Deaths                                                              4271214
Age_and_Sex_Population                                    46435976150.96431
Country                   United KingdomUnited KingdomUnited KingdomUnit...
dtype: object

In [5]:
print(pd.DataFrame(df))

       Year                                              Cause Age_Range  \
0      2017                              Intentional self-harm         0
1      2017                              Intentional self-harm         0
2      2017                              Intentional self-harm         1
3      2017                              Intentional self-harm         1
4      2017                              Intentional self-harm     10-14
...     ...                                                ...       ...
48626  2017  Mental and behavioural disorders due to psycho...     85-89
48627  2017  Mental and behavioural disorders due to psycho...     90-94
48628  2017  Mental and behavioural disorders due to psycho...       95+
48629  2017  Mental and behavioural disorders due to psycho...       All
48630  2017  Mental and behavioural disorders due to psycho...   Unknown

      ISO_Code     Sex  Deaths  Age_and_Sex_Population               Country
0          GBR  Female       0                743552.0        United Kingdom
1          GBR    Male       0                782850.0        United Kingdom
2          GBR  Female       0                768444.0        United Kingdom
3          GBR    Male       0                810126.0        United Kingdom
4          GBR  Female      16               3640314.0        United Kingdom
...        ...     ...     ...                     ...                   ...
48626      VIR     All       0                     NaN  Virgin Islands (USA)
48627      VIR     All       0                     NaN  Virgin Islands (USA)
48628      VIR     All       0                     NaN  Virgin Islands (USA)
48629      VIR     All       9                101860.0  Virgin Islands (USA)
48630      VIR     All       0                     NaN  Virgin Islands (USA)

[48631 rows x 8 columns]

In [6]:
df.info

<bound method DataFrame.info of        Year                                              Cause Age_Range  \
0      2017                              Intentional self-harm         0
1      2017                              Intentional self-harm         0
2      2017                              Intentional self-harm         1
3      2017                              Intentional self-harm         1
4      2017                              Intentional self-harm     10-14
...     ...                                                ...       ...
48626  2017  Mental and behavioural disorders due to psycho...     85-89
48627  2017  Mental and behavioural disorders due to psycho...     90-94
48628  2017  Mental and behavioural disorders due to psycho...       95+
48629  2017  Mental and behavioural disorders due to psycho...       All
48630  2017  Mental and behavioural disorders due to psycho...   Unknown

      ISO_Code     Sex  Deaths  Age_and_Sex_Population               Country
0          GBR  Female       0                743552.0        United Kingdom
1          GBR    Male       0                782850.0        United Kingdom
2          GBR  Female       0                768444.0        United Kingdom
3          GBR    Male       0                810126.0        United Kingdom
4          GBR  Female      16               3640314.0        United Kingdom
...        ...     ...     ...                     ...                   ...
48626      VIR     All       0                     NaN  Virgin Islands (USA)
48627      VIR     All       0                     NaN  Virgin Islands (USA)
48628      VIR     All       0                     NaN  Virgin Islands (USA)
48629      VIR     All       9                101860.0  Virgin Islands (USA)
48630      VIR     All       0                     NaN  Virgin Islands (USA)

[48631 rows x 8 columns]>

In [8]:
df.head()

,Year,Cause,Age_Range,ISO_Code,Sex,Deaths,Age_and_Sex_Population,Country
0,2017,Intentional self-harm,0,GBR,Female,0,743552.0,United Kingdom
1,2017,Intentional self-harm,0,GBR,Male,0,782850.0,United Kingdom
2,2017,Intentional self-harm,1,GBR,Female,0,768444.0,United Kingdom
3,2017,Intentional self-harm,1,GBR,Male,0,810126.0,United Kingdom
4,2017,Intentional self-harm,10-14,GBR,Female,16,3640314.0,United Kingdom

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48631 entries, 0 to 48630
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    48631 non-null  int64
 1   Cause                   48631 non-null  object
 2   Age_Range               48631 non-null  object
 3   ISO_Code                48631 non-null  object
 4   Sex                     48631 non-null  object
 5   Deaths                  48631 non-null  int64
 6   Age_and_Sex_Population  28987 non-null  float64
 7   Country                 48631 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.0+ MB

In [10]:
df['Cause'].unique()

array(['Intentional self-harm',
       'Mental and behavioural disorders due to psychoactive substance use'],
      dtype=object)

In [11]:
df['Age_Range'].unique()

array(['0', '1', '10-14', '15-19', '2', '20-24', '25-29', '3', '30-34',
       '35-39', '4', '40-44', '45-49', '5-9', '50-54', '55-59', '60-64',
       '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '95+', 'All',
       'Unknown', '1-4', '85+', '15-24', '25-34', '35-44', '45-54',
       '5-14', '55-64', '65-74', '75+'], dtype=object)

In [17]:
delete_age = ['0', '1', '2', '3', '4', 'All', 'Unknown', '85+', '15-24', '25-34', 
              '35-44', '45-54','5-14', '55-64', '65-74', '75+']

df = df[~df['Age_Range'].isin(delete_age)].reset_index(drop = True)

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35085 entries, 0 to 35084
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    35085 non-null  int64
 1   Cause                   35085 non-null  object
 2   Age_Range               35085 non-null  object
 3   ISO_Code                35085 non-null  object
 4   Sex                     35085 non-null  object
 5   Deaths                  35085 non-null  int64
 6   Age_and_Sex_Population  20760 non-null  float64
 7   Country                 35085 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ MB

In [13]:
df['ISO_Code'].unique()

array(['GBR', 'EGY', 'LBY', 'MUS', 'SYC', 'ZAF', 'TUN', 'AIA', 'ATG',
       'ARG', 'ABW', 'BMU', 'BRA', 'CAN', 'CHL', 'COL', 'CRI', 'CUB',
       'DMA', 'DOM', 'ECU', 'SLV', 'GRD', 'GTM', 'GUY', 'MEX', 'NIC',
       'PAN', 'PRY', 'PER', 'PRI', 'LCA', 'VCT', 'TCA', 'USA', 'VIR',
       'URY', 'BRN', 'CYP', 'HKG', 'ISR', 'JPN', 'JOR', 'KWT', 'LBN',
       'MYS', 'MDV', 'MNG', 'PSE', 'OMN', 'PHL', 'QAT', 'KOR', 'SGP',
       'THA', 'TUR', 'ARE', 'ARM', 'AUT', 'BLR', 'BEL', 'BIH', 'BGR',
       'HRV', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'GEO', 'DEU', 'GRC',
       'HUN', 'ISL', 'IRL', 'ITA', 'KAZ', 'KGZ', 'LVA', 'LTU', 'LUX',
       'MKD', 'MLT', 'MNE', 'NLD', 'POL', 'PRT', 'MDA', 'ROU', 'RUS',
       'SRB', 'SVK', 'SVN', 'ESP', 'SWE', 'CHE', 'TJK', 'UKR', 'UZB',
       'AUS', 'SLB'], dtype=object)

In [19]:
df.head()

,Year,Cause,Age_Range,ISO_Code,Sex,Deaths,Age_and_Sex_Population,Country
0,2017,Intentional self-harm,10-14,GBR,Female,16,3640314.0,United Kingdom
1,2017,Intentional self-harm,10-14,GBR,Male,16,3826458.0,United Kingdom
2,2017,Intentional self-harm,15-19,GBR,Female,104,3605202.0,United Kingdom
3,2017,Intentional self-harm,15-19,GBR,Male,208,3803268.0,United Kingdom
4,2017,Intentional self-harm,20-24,GBR,Female,136,4097544.0,United Kingdom

# Markdown 
# Just another check point

In [28]:
df2 = pd.read_csv("world_wide_self_harm_and_substance_deaths.csv")

In [29]:
df2['Age_Range'].unique()

array(['0', '1', '10-14', '15-19', '2', '20-24', '25-29', '3', '30-34',
       '35-39', '4', '40-44', '45-49', '5-9', '50-54', '55-59', '60-64',
       '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '95+', 'All',
       'Unknown', '1-4', '85+', '15-24', '25-34', '35-44', '45-54',
       '5-14', '55-64', '65-74', '75+'], dtype=object)

In [30]:
delete_age2 = ['0', '1', '2', '3', '4', 'All', 'Unknown', '1-4','15-24', '25-34', 
              '35-44', '45-54','5-14', '55-64', '65-74']

df2 = df2[~df2['Age_Range'].isin(delete_age2)].reset_index(drop = True)

df2['Age_Range'].unique()

array(['10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44',
       '45-49', '5-9', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95+', '85+', '75+'],
      dtype=object)

In [31]:
df2['Sex'].unique()

array(['Female', 'Male', 'Unspecified', 'All'], dtype=object)

In [32]:
delete_sex = ['Unspecified', 'All']

df2 = df2[~df2['Sex'].isin(delete_sex)].reset_index(drop = True)

df2['Sex'].unique()

array(['Female', 'Male'], dtype=object)

In [42]:
df2 = df2.replace(['75+', '85+', '5-9', '10-14'],
                 ['75-79', '85-89', '5-9', '10-14'])

df2['Age_Range'].unique()

array(['10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44',
       '45-49', '5-9', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95+'], dtype=object)

In [40]:
df2.to_csv('Cleaned_Self Harm and Substance Abuse Deaths Worldwide3.csv')

In [35]:
df2['Age_Range']

0        10-14
1        10-14
2        15-19
3        15-19
4        20-24
         ...
22748    75-79
22749    80-84
22750    85-89
22751    90-94
22752      95+
Name: Age_Range, Length: 22753, dtype: object